* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 4%;
  border-bottom: 1px solid #eee;
  flex-wrap: wrap;
  gap: 2vh;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.03);
}

.nav-left {
    margin-left: 5vh;
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
   height: 30px;
   width: auto;
   
}
.logo img {
    height: 100%;
    width: auto;
}
.logo img:hover {
    cursor: pointer;
    transform: scale(1.1);
    
}

#bet{
    font-weight: bold;
    color: #000;
    text-underline-offset: 1vw;
    text-decoration: underline;
}
.nav-links {
    margin-left: 20px;
    height: 10px;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 400;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #000;
}
 

.nav-center {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
  justify-content: center;
  min-width: 300px;
}

.location {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 6px 10px;
  gap: 6px;
  white-space: nowrap;
}

.loc-icon {
  font-size: 16px;
}

.loc-text {
  font-size: 14px;
  color: #555;
}

.arrow {
  font-size: 12px;
}

.search {
  flex: 1;
  max-width: 200px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 14px;
  outline: none;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.icon-circle {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #eee;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.3s;
}

.icon-circle:hover {
  background: #f5f5f5;
}

@media (max-width: 900px) {
  .nav-center {
    flex-direction: column;
    width: 100%;
  }

  .nav-left {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .nav-links {
    display: flex;
    gap: 15px;
  }
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: stretch;
  }

  .nav-center {
    flex-direction: column;
  }

  .nav-right {
    justify-content: center;
  }

  .search {
    width: 100%;
  }
}


.home-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 60px 5% 10px;
  flex-wrap: wrap;
  gap: 15vh;
}

.left-content {
  width: 65vh;
}

.left-content h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 30px;
}

.services-box {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.03);
}

.services-box h3 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 20px;
  color: #333;
}

.services-grid {
  width: 60vh;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.service-card {
  cursor: pointer;
  width: 18.4vh;
  border-radius: 10px;
  padding: 16px 10px;
  text-align: center;
  transition: all 0.3s ease;
}

.service-card1 {
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1vh;
  width: 28.7vh;
  height: fit-content;
  background: #f8f8f8;
  border-radius: 10px;
  padding: 16px 10px;
  text-align: center;
  transition: all 0.3s ease;
}

.img1 {
    background: #f8f8f8;
    padding-top: 6px ;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vh;
}

.service-card img:hover {
  background: #f0f0f0;
  filter: opacity(.7);
}

.service-card1 img:hover {
  background: #f0f0f0;
  filter: opacity(.7);
}

.service-card img {
  background: #f8f8f8;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.service-card1 img {
  width: 60px;
  height: 40px;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 0.8rem;
  color: #333;
  font-weight: 400;
}

.service-card1 p {
  font-size: 0.75rem;
  color: #333;
  font-weight: 400;
}


.stats-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  padding: 3% 2%;
  flex-wrap: wrap;
}

.stat-box {
  display: flex;
  align-items: center;
  margin-top: 4vh;
  gap: 1vh;
  width: 27vh;
}

.icon img {
   height: 8vh;
   width: 8vh;
}

.text h3 {
  font-size: 1.4rem;
  font-weight: 547;
  color: #000;
  line-height: 1;
}

.text p {
  font-size: 0.9rem;
  color: #666;
  margin-top: 4px;
}

@media (max-width: 600px) {
  .stats-section {
    justify-content: center;
    gap: 30px;
  }

  .text h3 {
    font-size: 1.4rem;
  }

  .text p {
    font-size: 0.85rem;
  }
}

@media (max-width: 600px) {
  .stats-section {
    flex-direction: column;
    gap: 25px;
  }
}


.right-gallery {
  flex: 1;
  min-width: 340px;
  border-radius: 12px;
  height: 80vh;
}

.right-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

@media (max-width: 1024px) {
  .home-section {
    flex-direction: column;
  }

  .right-gallery {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .left-content h1 {
    font-size: 2rem;
    text-align: center;
  }

  .services-box {
    padding: 18px;
  }

  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .right-gallery {
    flex-direction: column;
  }
  .right-gallery img {
    height: auto;
  }
}

.slider {
    margin: 5vh 14vh;
    gap: 1vh;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: 1vh;
    scrollbar-width: none;
    }

  .card-img {
    cursor: pointer;
    width: 53vh;
    height: 30vh;
    object-fit: cover;
    display: block;
      transition: transform 0.3s ease;

   }

   .card-img:hover{
      transform: scale(1.01); 
   }

   .slider1 {
    display: flex;
    flex-direction: row;
    margin: 5vh 14vh;
    gap: 1.5vh;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: 1vh;
    scrollbar-width: none;
    }

    .slide2{
      justify-content: space-around;
      border: #cac6c6 solid 1px;
      cursor: pointer;
      gap: 1.5vh;
      display: flex;
      border-radius: 5px;
      width: 30vh;
      height: 35vh;
      flex-direction: column;
    }

    
h1{
  margin-top: 12vh;
  margin-left: 15vh;
}

    .slide1{
      cursor: pointer;
      font-size: 2vh;
      line-height: 3vh;
      gap: 1.5vh;
      display: flex;
      width: 30vh;
      height: auto;
      flex-direction: column;
    }

    .slide1 p{
      font-size: 2vh;
      line-height: 3vh;
      color: #666;
    }

    .card-img1 {
    background-color: whitesmoke;
    object-fit: cover;
    display: block;
    border-radius: 1vh;
   }
   
   .side-content{
    padding: 1vh;
   }

   .salon-section {
  margin-top: 13vh;
  margin-left: 15vh;
  width: 90%;
  max-width: 1000px;
}

.salon-section p{
  font-size: 1rem;
  font-weight: lighter;
  color: #666;
}

.salon-section h2 {
  font-size: 2rem;
  line-height: 2rem;
  color: #111;
  margin-bottom: 30px;
}

.card-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  width: 30vh;
  cursor: pointer;
  border: 1px solid #eee;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card h3 {
  padding: 15px;
  font-size: 1.1rem;
  color: #222;
}

.box{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box img:hover{
      cursor: pointer;
    transform: scale(1.01);
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1100px;
  margin-top: 15vh;
  margin-left: 15vh;
}

.header-section h2 {
  font-size: 1.8rem;
  color: #111;
  font-weight: 600;
}

.header-section  p{
  font-size: 1rem;
  font-weight: lighter;
  color: #666;
}

.see-all {
  color: #4a1eff;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 6px 14px;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.see-all:hover {
  background-color: #f5f5ff;
  border-color: #cfcfff;
}

.slider1 {
    display: flex;
    flex-direction: row;
    margin: 5vh 14vh;
    gap: 1.5vh;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: 1vh;
    scrollbar-width: none;
}
.side-content1{
    padding: 2.4vh;
    font-weight: 4vh;
    font-size: 1.1rem;
}


.footer {
    margin-top: 10vh;
  background-color: #fafafa;
  padding: 40px 8%;
  border-top: 1px solid #e5e5e5;
}

.footer-top {
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 30px;
  margin-top: 20px;
}

.column h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.column ul {
  list-style: none;
}

.column ul li {
  margin-bottom: 8px;
}

.column ul li a {
  text-decoration: none;
  color: #333;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

.column ul li a:hover {
  color: #4a1eff;
}

.social .icons {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.social .icons a {
  font-size: 1.1rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 8px 10px;
  text-decoration: none;
}

.social .icons img {
    width: 4vh;
}



.app-buttons img {
  display: block;
  width: 130px;
  margin-bottom: 10px;
}

hr {
  border: none;
  border-top: 1px solid #e5e5e5;
  margin: 25px 0;
}

.footer-bottom {
  font-size: 0.85rem;
  color: #555;
}

.footer-bottom p:first-child {
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .footer-links {
    grid-template-columns: 1fr 1fr;
  }

  .footer-logo {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .footer-links {
    grid-template-columns: 1fr;
  }

  .footer {
    padding: 30px 5%;
  }
}
